# Java templete
*.class

# eclipse setting
.settings/
.classpath
.project

# Package files
*.jar
*.war
*.ear

# Compiled files
/target/
**/target

# Gradle
.gradle
/build/
bin/
src/main/resources/application.yml

# idea, Sonarlint
/.idea/
.idea/sonarlint/

# Custom
logs/
src/main/resources/FCM_ServiceKey.json